@using FileManager.Domain.Entity
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model UserLogEntity
@{
}
<div class="modal-body-content">
    <div class="modal-row">
        <div class="modal-td">
            <p class="td-title">Дата время события</p>
            <p class="td-text">@Model.DateTimeLog</p>
        </div>
        <div class="modal-td">
            <p class="td-title">Имя пользователя</p>
            <p class="td-text">@Model.UserName</p>
        </div>
        <div class="modal-td">
            <p class="td-title">Действие</p>
            <p class="td-text">@Model.Action</p>
        </div>
    </div>
    <div class="modal-row">
        <div class="modal-td">
            <p class="td-title">Объект</p>
            <p class="td-text">@Model.Data</p>
        </div>
    </div>
</div>