@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Транспорт: Шаги задачи";
}



<div class="main-content">
    <div class="breadcrumbs">
        <svg class="arrow-back" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" onclick="Tasks(getCookie('selectedTaskGroup'))">
            <path d="M7.32018 12.7335C7.15944 12.9041 6.94146 13 6.71417 13C6.48689 13 6.26891 12.9041 6.10817 12.7335L2.25096 8.63796C2.09027 8.46729 2 8.23584 2 7.99451C2 7.75317 2.09027 7.52172 2.25096 7.35105L6.10817 3.25548C6.26983 3.0897 6.48635 2.99796 6.71109 3.00004C6.93583 3.00211 7.15082 3.09783 7.30974 3.26657C7.46867 3.43531 7.55881 3.66359 7.56077 3.90222C7.56272 4.14085 7.47632 4.37075 7.32018 4.5424L4.99986 7.08438L13.1428 7.08438C13.3702 7.08438 13.5882 7.18027 13.7489 7.35095C13.9097 7.52163 14 7.75313 14 7.99451C14 8.23589 13.9097 8.46738 13.7489 8.63806C13.5882 8.80874 13.3702 8.90463 13.1428 8.90463H4.99986L7.32018 11.4466C7.48088 11.6173 7.57115 11.8487 7.57115 12.0901C7.57115 12.3314 7.48088 12.5629 7.32018 12.7335Z" fill="var(--gray)" />
        </svg>
        <a href="#" onclick="Tasks(getCookie('selectedTaskGroup'))">Главная страница</a>
        <svg width="6" height="16" viewBox="0 0 6 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.13941 5.15408C1.04075 5.25277 0.985327 5.3866 0.985327 5.52614C0.985327 5.66569 1.04075 5.79952 1.13941 5.89821L3.74438 8.50318L1.13941 11.1081C1.04355 11.2074 0.990502 11.3403 0.991701 11.4783C0.9929 11.6163 1.04825 11.7483 1.14582 11.8459C1.24339 11.9434 1.37538 11.9988 1.51337 12C1.65135 12.0012 1.78428 11.9481 1.88353 11.8523L4.86057 8.87524C4.95923 8.77655 5.01465 8.64272 5.01465 8.50318C5.01465 8.36363 4.95923 8.2298 4.86057 8.13111L1.88353 5.15408C1.78485 5.05542 1.65102 5 1.51147 5C1.37193 5 1.2381 5.05542 1.13941 5.15408Z" fill="var(--gray)" />
        </svg>
        <a href="#" onclick="Tasks(getCookie('selectedTaskGroup'))">Задачи</a>
        <svg width="6" height="16" viewBox="0 0 6 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.13941 5.15408C1.04075 5.25277 0.985327 5.3866 0.985327 5.52614C0.985327 5.66569 1.04075 5.79952 1.13941 5.89821L3.74438 8.50318L1.13941 11.1081C1.04355 11.2074 0.990502 11.3403 0.991701 11.4783C0.9929 11.6163 1.04825 11.7483 1.14582 11.8459C1.24339 11.9434 1.37538 11.9988 1.51337 12C1.65135 12.0012 1.78428 11.9481 1.88353 11.8523L4.86057 8.87524C4.95923 8.77655 5.01465 8.64272 5.01465 8.50318C5.01465 8.36363 4.95923 8.2298 4.86057 8.13111L1.88353 5.15408C1.78485 5.05542 1.65102 5 1.51147 5C1.37193 5 1.2381 5.05542 1.13941 5.15408Z" fill="var(--gray)" />
        </svg>
        <a href="#" onclick="Tasks(getCookie('selectedTaskGroup'))" id="breadcrumbs-task-group"></a>
        <svg width="6" height="16" viewBox="0 0 6 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.13941 5.15408C1.04075 5.25277 0.985327 5.3866 0.985327 5.52614C0.985327 5.66569 1.04075 5.79952 1.13941 5.89821L3.74438 8.50318L1.13941 11.1081C1.04355 11.2074 0.990502 11.3403 0.991701 11.4783C0.9929 11.6163 1.04825 11.7483 1.14582 11.8459C1.24339 11.9434 1.37538 11.9988 1.51337 12C1.65135 12.0012 1.78428 11.9481 1.88353 11.8523L4.86057 8.87524C4.95923 8.77655 5.01465 8.64272 5.01465 8.50318C5.01465 8.36363 4.95923 8.2298 4.86057 8.13111L1.88353 5.15408C1.78485 5.05542 1.65102 5 1.51147 5C1.37193 5 1.2381 5.05542 1.13941 5.15408Z" fill="var(--gray)" />
        </svg>
        <a href="#" class="active-page" id="breadcrumbs-task">Задача</a>
    </div>
    <div class="table-toolbar">
        <div class="toolbar-left">
            <div class="btn-full" onclick="CreateStep()">
                Добавить
            </div>
            <div class="btn-full" onclick="ShowActiveSteps()">
                <span><span id="active-step-btn">Скрыть </span> неактивные</span>
            </div>
            <div class="btn-short" onclick="replaceStep('down')">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_42_4418)">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.98395 13C9.65254 12.9997 9.33481 12.8678 9.10062 12.6333L4.93395 8.46667C4.71315 8.22971 4.59294 7.9163 4.59866 7.59246C4.60437 7.26863 4.73556 6.95965 4.96458 6.73063C5.1936 6.50161 5.50258 6.37042 5.82641 6.36471C6.15025 6.35899 6.46366 6.4792 6.70062 6.7L9.98395 9.98167L13.2673 6.69833C13.5031 6.47074 13.819 6.3449 14.1467 6.3479C14.4744 6.3509 14.7879 6.48251 15.0196 6.71438C15.2512 6.94625 15.3825 7.25983 15.3852 7.58758C15.3879 7.91533 15.2618 8.23102 15.0339 8.46667L10.8673 12.6333C10.6331 12.8678 10.3154 12.9997 9.98395 13Z" fill="var(--white)" />
                    </g>
                    <defs>
                        <clipPath id="clip0_42_4418">
                            <rect width="20" height="20" fill="var(--white)" />
                        </clipPath>
                    </defs>
                </svg>
            </div>
            <div class="btn-short" onclick="replaceStep('up')">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_42_2208)">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.99982 6.34766C10.3312 6.34795 10.649 6.47984 10.8831 6.71432L15.0498 10.881C15.2706 11.1179 15.3908 11.4314 15.3851 11.7552C15.3794 12.079 15.2482 12.388 15.0192 12.617C14.7902 12.846 14.4812 12.9772 14.1574 12.9829C13.8335 12.9887 13.5201 12.8685 13.2831 12.6477L9.99982 9.36599L6.71648 12.6493C6.48062 12.8769 6.16481 13.0028 5.83706 12.9998C5.50932 12.9968 5.19586 12.8651 4.96421 12.6333C4.73256 12.4014 4.60125 12.0878 4.59855 11.7601C4.59586 11.4323 4.722 11.1166 4.94982 10.881L9.11648 6.71432C9.35068 6.47984 9.66841 6.34795 9.99982 6.34766Z" fill="var(--white)" />
                    </g>
                    <defs>
                        <clipPath id="clip0_42_2208">
                            <rect width="20" height="20" fill="var(--white)" />
                        </clipPath>
                    </defs>
                </svg>
            </div>
            <div class="btn-short" onclick="replaceStep('maxup')">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_42_2213)">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M10.0001 3.75C10.3315 3.75029 10.6492 3.88218 10.8834 4.11667L15.0501 8.28333C15.2709 8.52029 15.3911 8.8337 15.3854 9.15754C15.3796 9.48137 15.2485 9.79035 15.0194 10.0194C14.7904 10.2484 14.4814 10.3796 14.1576 10.3853C13.8338 10.391 13.5204 10.2708 13.2834 10.05L10.0001 6.76833L6.71673 10.0517C6.48087 10.2793 6.16505 10.4051 5.83731 10.4021C5.50956 10.3991 5.19611 10.2675 4.96445 10.0356C4.7328 9.80375 4.60149 9.49017 4.5988 9.16242C4.5961 8.83467 4.72225 8.51898 4.95006 8.28333L9.11673 4.11667C9.35092 3.88218 9.66865 3.75029 10.0001 3.75ZM10.0001 8.75C10.3315 8.75029 10.6492 8.88218 10.8834 9.11667L15.0501 13.2833C15.2709 13.5203 15.3911 13.8337 15.3854 14.1575C15.3796 14.4814 15.2485 14.7903 15.0194 15.0194C14.7904 15.2484 14.4814 15.3796 14.1576 15.3853C13.8338 15.391 13.5204 15.2708 13.2834 15.05L10.0001 11.7683L6.71673 15.0517C6.48087 15.2793 6.16505 15.4051 5.83731 15.4021C5.50956 15.3991 5.19611 15.2675 4.96445 15.0356C4.7328 14.8037 4.60149 14.4902 4.5988 14.1624C4.5961 13.8347 4.72225 13.519 4.95006 13.2833L9.11673 9.11667C9.35092 8.88218 9.66865 8.75029 10.0001 8.75Z" fill="var(--white)" />
                    </g>
                    <defs>
                        <clipPath id="clip0_42_2213">
                            <rect width="20" height="20" fill="var(--white)" />
                        </clipPath>
                    </defs>
                </svg>
            </div>
            <div class="btn-short" onclick="replaceStep('maxdown')">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_42_2221)">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.98407 15.4023C9.65266 15.4021 9.33493 15.2702 9.10074 15.0357L4.93407 10.869C4.71327 10.6321 4.59307 10.3186 4.59878 9.99481C4.60449 9.67097 4.73568 9.362 4.9647 9.13297C5.19372 8.90395 5.5027 8.77277 5.82653 8.76705C6.15037 8.76134 6.46378 8.88154 6.70074 9.10234L9.98407 12.384L13.2674 9.10068C13.5033 8.87309 13.8191 8.74724 14.1468 8.75024C14.4746 8.75325 14.788 8.88485 15.0197 9.11672C15.2513 9.3486 15.3826 9.66217 15.3853 9.98992C15.388 10.3177 15.2619 10.6334 15.0341 10.869L10.8674 15.0357C10.6332 15.2702 10.3155 15.4021 9.98407 15.4023ZM9.98407 10.4023C9.65266 10.4021 9.33493 10.2702 9.10074 10.0357L4.93407 5.86901C4.71327 5.63205 4.59307 5.31864 4.59878 4.99481C4.60449 4.67097 4.73568 4.362 4.9647 4.13297C5.19372 3.90395 5.5027 3.77277 5.82653 3.76705C6.15037 3.76134 6.46378 3.88154 6.70074 4.10234L9.98407 7.38401L13.2674 4.10068C13.5033 3.87309 13.8191 3.74724 14.1468 3.75024C14.4746 3.75324 14.788 3.88485 15.0197 4.11672C15.2513 4.34859 15.3826 4.66217 15.3853 4.98992C15.388 5.31767 15.2619 5.63337 15.0341 5.86901L10.8674 10.0357C10.6332 10.2702 10.3155 10.4021 9.98407 10.4023Z" fill="var(--white)" />
                    </g>
                    <defs>
                        <clipPath id="clip0_42_2221">
                            <rect width="20" height="20" fill="var(--white)" />
                        </clipPath>
                    </defs>
                </svg>
            </div>
            <div class="btn-full" onclick="CopyStep()">
                Копировать шаг
            </div>
            <div class="btn-full" onclick="ExistFiles()">
                Наличие файлов
            </div>
        </div>
        <div class="toolbar-right">
            <div class="btn-full" onclick="TaskLog()">
                Журнал
            </div>
            <div class="btn-full" onclick="TaskDetails(getCookie('selectedTask')), ShowModal('modal-task-info')">
                Информация
            </div>
        </div>
    </div>
    <div id="steps">
    </div>
</div>
<footer>
    @* <div class="pagination">
        <div class="pagination-buttons">
            <div class="btn-short page-number active">
                1
            </div>
        </div>
        <div class="pagination-text">
            Страница 1 из 1
        </div>
    </div> *@
</footer>
<div class="modal-wrapper" id="modal-copy-step">
    <div class="modal">
        <div class="modal-header">
            <p>Копирование шага номер <span id="idStepCopyInfo"></span></p>
            <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg" onclick="CancelCopyStep()">
                <path d="M5.19281 4.69635L8 7.50342L10.7926 4.71089C10.8543 4.64524 10.9286 4.59272 11.0111 4.55648C11.0936 4.52024 11.1825 4.50103 11.2726 4.5C11.4655 4.5 11.6505 4.57662 11.7869 4.713C11.9233 4.84938 11.9999 5.03435 11.9999 5.22722C12.0016 5.31638 11.985 5.40494 11.9513 5.48748C11.9175 5.57001 11.8672 5.64478 11.8035 5.70719L8.97452 8.49971L11.8035 11.3286C11.9234 11.4459 11.9937 11.6046 11.9999 11.7722C11.9999 11.9651 11.9233 12.15 11.7869 12.2864C11.6505 12.4228 11.4655 12.4994 11.2726 12.4994C11.1799 12.5033 11.0875 12.4878 11.0011 12.454C10.9147 12.4202 10.8363 12.3688 10.7708 12.3031L8 9.496L5.20008 12.2958C5.13863 12.3593 5.06522 12.4099 4.98409 12.4449C4.90296 12.4798 4.8157 12.4984 4.72737 12.4994C4.53449 12.4994 4.34951 12.4228 4.21313 12.2864C4.07674 12.15 4.00012 11.9651 4.00012 11.7722C3.99842 11.683 4.01497 11.5945 4.04873 11.5119C4.0825 11.4294 4.13277 11.3546 4.19648 11.2922L7.02548 8.49971L4.19648 5.67082C4.07661 5.55357 4.00633 5.39478 4.00012 5.22722C4.00012 5.03435 4.07674 4.84938 4.21313 4.713C4.34951 4.57662 4.53449 4.5 4.72737 4.5C4.90191 4.50218 5.06918 4.57272 5.19281 4.69635Z" fill="white" />
            </svg>
        </div>
        <div class="modal-body">
            <div class="modal-body-content">
                <div class="input-with-label">
                    <label>Номер нового шага</label>
                    <input type="number" id="numberNewStep" min="1">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="btn-full" onclick="OkCopyStep()">
                Ок
            </div>
        </div>
    </div>
</div>
<div class="modal-wrapper" id="modal-delete-step">
    <div class="modal">
        <div class="modal-header">
            <p>Удалить шаг номер <span id="idStepDelInfo"></span> ?</p>
            <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg" onclick="CancelDeleteStep()">
                <path d="M5.19281 4.69635L8 7.50342L10.7926 4.71089C10.8543 4.64524 10.9286 4.59272 11.0111 4.55648C11.0936 4.52024 11.1825 4.50103 11.2726 4.5C11.4655 4.5 11.6505 4.57662 11.7869 4.713C11.9233 4.84938 11.9999 5.03435 11.9999 5.22722C12.0016 5.31638 11.985 5.40494 11.9513 5.48748C11.9175 5.57001 11.8672 5.64478 11.8035 5.70719L8.97452 8.49971L11.8035 11.3286C11.9234 11.4459 11.9937 11.6046 11.9999 11.7722C11.9999 11.9651 11.9233 12.15 11.7869 12.2864C11.6505 12.4228 11.4655 12.4994 11.2726 12.4994C11.1799 12.5033 11.0875 12.4878 11.0011 12.454C10.9147 12.4202 10.8363 12.3688 10.7708 12.3031L8 9.496L5.20008 12.2958C5.13863 12.3593 5.06522 12.4099 4.98409 12.4449C4.90296 12.4798 4.8157 12.4984 4.72737 12.4994C4.53449 12.4994 4.34951 12.4228 4.21313 12.2864C4.07674 12.15 4.00012 11.9651 4.00012 11.7722C3.99842 11.683 4.01497 11.5945 4.04873 11.5119C4.0825 11.4294 4.13277 11.3546 4.19648 11.2922L7.02548 8.49971L4.19648 5.67082C4.07661 5.55357 4.00633 5.39478 4.00012 5.22722C4.00012 5.03435 4.07674 4.84938 4.21313 4.713C4.34951 4.57662 4.53449 4.5 4.72737 4.5C4.90191 4.50218 5.06918 4.57272 5.19281 4.69635Z" fill="white" />
            </svg>
        </div>
        <div class="modal-body">
            <div class="modal-body-content">
                <span id="idStepDel" hidden></span>
            </div>
        </div>
        <div class="modal-footer">
            <div class="btn-full" onclick="OkDeleteStep()">
                Ок
            </div>
        </div>
    </div>
</div>
<div class="modal-wrapper" id="modal-active-step">
    <div class="modal">
        <div class="modal-header">
            <p><span id="titleInfoStep"></span> шаг номер <span id="numberStepInfo"></span>?</p>
            <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg" onclick="CloseModal('modal-active-step'), CancelOnOffStep()">
                <path d="M5.19281 4.69635L8 7.50342L10.7926 4.71089C10.8543 4.64524 10.9286 4.59272 11.0111 4.55648C11.0936 4.52024 11.1825 4.50103 11.2726 4.5C11.4655 4.5 11.6505 4.57662 11.7869 4.713C11.9233 4.84938 11.9999 5.03435 11.9999 5.22722C12.0016 5.31638 11.985 5.40494 11.9513 5.48748C11.9175 5.57001 11.8672 5.64478 11.8035 5.70719L8.97452 8.49971L11.8035 11.3286C11.9234 11.4459 11.9937 11.6046 11.9999 11.7722C11.9999 11.9651 11.9233 12.15 11.7869 12.2864C11.6505 12.4228 11.4655 12.4994 11.2726 12.4994C11.1799 12.5033 11.0875 12.4878 11.0011 12.454C10.9147 12.4202 10.8363 12.3688 10.7708 12.3031L8 9.496L5.20008 12.2958C5.13863 12.3593 5.06522 12.4099 4.98409 12.4449C4.90296 12.4798 4.8157 12.4984 4.72737 12.4994C4.53449 12.4994 4.34951 12.4228 4.21313 12.2864C4.07674 12.15 4.00012 11.9651 4.00012 11.7722C3.99842 11.683 4.01497 11.5945 4.04873 11.5119C4.0825 11.4294 4.13277 11.3546 4.19648 11.2922L7.02548 8.49971L4.19648 5.67082C4.07661 5.55357 4.00633 5.39478 4.00012 5.22722C4.00012 5.03435 4.07674 4.84938 4.21313 4.713C4.34951 4.57662 4.53449 4.5 4.72737 4.5C4.90191 4.50218 5.06918 4.57272 5.19281 4.69635Z" fill="white" />
            </svg>
        </div>
        <div class="modal-body">
            <div class="modal-body-content">
            </div>
        </div>
        <div class="modal-footer">
            <div class="btn-full" onclick="OkOnOffStep(), CloseModal('modal-active-step')">
                Ок
            </div>
        </div>
    </div>
</div>
<div class="modal-wrapper" id="modal-task-info">
    <div class="modal">
        <div class="modal-header">
            <p>Информация о задаче</p>
            <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg" onclick="CloseModal('modal-task-info')">
                <path d="M5.19281 4.69635L8 7.50342L10.7926 4.71089C10.8543 4.64524 10.9286 4.59272 11.0111 4.55648C11.0936 4.52024 11.1825 4.50103 11.2726 4.5C11.4655 4.5 11.6505 4.57662 11.7869 4.713C11.9233 4.84938 11.9999 5.03435 11.9999 5.22722C12.0016 5.31638 11.985 5.40494 11.9513 5.48748C11.9175 5.57001 11.8672 5.64478 11.8035 5.70719L8.97452 8.49971L11.8035 11.3286C11.9234 11.4459 11.9937 11.6046 11.9999 11.7722C11.9999 11.9651 11.9233 12.15 11.7869 12.2864C11.6505 12.4228 11.4655 12.4994 11.2726 12.4994C11.1799 12.5033 11.0875 12.4878 11.0011 12.454C10.9147 12.4202 10.8363 12.3688 10.7708 12.3031L8 9.496L5.20008 12.2958C5.13863 12.3593 5.06522 12.4099 4.98409 12.4449C4.90296 12.4798 4.8157 12.4984 4.72737 12.4994C4.53449 12.4994 4.34951 12.4228 4.21313 12.2864C4.07674 12.15 4.00012 11.9651 4.00012 11.7722C3.99842 11.683 4.01497 11.5945 4.04873 11.5119C4.0825 11.4294 4.13277 11.3546 4.19648 11.2922L7.02548 8.49971L4.19648 5.67082C4.07661 5.55357 4.00633 5.39478 4.00012 5.22722C4.00012 5.03435 4.07674 4.84938 4.21313 4.713C4.34951 4.57662 4.53449 4.5 4.72737 4.5C4.90191 4.50218 5.06918 4.57272 5.19281 4.69635Z" fill="white" />
            </svg>
        </div>
        <div class="modal-body" id="task-details-content">
        </div>
        <div class="modal-footer">
            <div class="btn-full" onclick="EditTask(getCookie('selectedTask'))">
                Редактировать
            </div>
        </div>
    </div>
</div>
<div class="modal-wrapper" id="modal-step-info">
    <div class="modal">
        <div class="modal-header">
            <p>Информация о шаге</p>
            <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg" onclick="CloseModal('modal-step-info')">
                <path d="M5.19281 4.69635L8 7.50342L10.7926 4.71089C10.8543 4.64524 10.9286 4.59272 11.0111 4.55648C11.0936 4.52024 11.1825 4.50103 11.2726 4.5C11.4655 4.5 11.6505 4.57662 11.7869 4.713C11.9233 4.84938 11.9999 5.03435 11.9999 5.22722C12.0016 5.31638 11.985 5.40494 11.9513 5.48748C11.9175 5.57001 11.8672 5.64478 11.8035 5.70719L8.97452 8.49971L11.8035 11.3286C11.9234 11.4459 11.9937 11.6046 11.9999 11.7722C11.9999 11.9651 11.9233 12.15 11.7869 12.2864C11.6505 12.4228 11.4655 12.4994 11.2726 12.4994C11.1799 12.5033 11.0875 12.4878 11.0011 12.454C10.9147 12.4202 10.8363 12.3688 10.7708 12.3031L8 9.496L5.20008 12.2958C5.13863 12.3593 5.06522 12.4099 4.98409 12.4449C4.90296 12.4798 4.8157 12.4984 4.72737 12.4994C4.53449 12.4994 4.34951 12.4228 4.21313 12.2864C4.07674 12.15 4.00012 11.9651 4.00012 11.7722C3.99842 11.683 4.01497 11.5945 4.04873 11.5119C4.0825 11.4294 4.13277 11.3546 4.19648 11.2922L7.02548 8.49971L4.19648 5.67082C4.07661 5.55357 4.00633 5.39478 4.00012 5.22722C4.00012 5.03435 4.07674 4.84938 4.21313 4.713C4.34951 4.57662 4.53449 4.5 4.72737 4.5C4.90191 4.50218 5.06918 4.57272 5.19281 4.69635Z" fill="white" />
            </svg>
        </div>
        <div class="modal-body" id="info-step-content">
        </div>
        <div class="modal-footer">
            <div class="btn-full" onclick="ShowEditStepModal()">
                Редактировать
            </div>
        </div>
    </div>
</div>
<div class="modal-wrapper" id="modal-add-step">
    <div class="modal">
        <div class="modal-header">
            <p>Добавление шага в задачу test</p>
            <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg" onclick="CloseModal('modal-add-step')">
                <path d="M5.19281 4.69635L8 7.50342L10.7926 4.71089C10.8543 4.64524 10.9286 4.59272 11.0111 4.55648C11.0936 4.52024 11.1825 4.50103 11.2726 4.5C11.4655 4.5 11.6505 4.57662 11.7869 4.713C11.9233 4.84938 11.9999 5.03435 11.9999 5.22722C12.0016 5.31638 11.985 5.40494 11.9513 5.48748C11.9175 5.57001 11.8672 5.64478 11.8035 5.70719L8.97452 8.49971L11.8035 11.3286C11.9234 11.4459 11.9937 11.6046 11.9999 11.7722C11.9999 11.9651 11.9233 12.15 11.7869 12.2864C11.6505 12.4228 11.4655 12.4994 11.2726 12.4994C11.1799 12.5033 11.0875 12.4878 11.0011 12.454C10.9147 12.4202 10.8363 12.3688 10.7708 12.3031L8 9.496L5.20008 12.2958C5.13863 12.3593 5.06522 12.4099 4.98409 12.4449C4.90296 12.4798 4.8157 12.4984 4.72737 12.4994C4.53449 12.4994 4.34951 12.4228 4.21313 12.2864C4.07674 12.15 4.00012 11.9651 4.00012 11.7722C3.99842 11.683 4.01497 11.5945 4.04873 11.5119C4.0825 11.4294 4.13277 11.3546 4.19648 11.2922L7.02548 8.49971L4.19648 5.67082C4.07661 5.55357 4.00633 5.39478 4.00012 5.22722C4.00012 5.03435 4.07674 4.84938 4.21313 4.713C4.34951 4.57662 4.53449 4.5 4.72737 4.5C4.90191 4.50218 5.06918 4.57272 5.19281 4.69635Z" fill="white" />
            </svg>
        </div>
        <div class="modal-body" id="create-step-content">
        </div>
        <div class="modal-footer">
            <button class="btn-full" form="createStepForm">
                Сохранить
            </button>
        </div>
    </div>
</div>
<div class="modal-wrapper" id="modal-edit-step">
    <div class="modal">
        <div class="modal-header">
            <p>Редактирование шага</p>
            <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg" onclick="CloseModal('modal-edit-step')">
                <path d="M5.19281 4.69635L8 7.50342L10.7926 4.71089C10.8543 4.64524 10.9286 4.59272 11.0111 4.55648C11.0936 4.52024 11.1825 4.50103 11.2726 4.5C11.4655 4.5 11.6505 4.57662 11.7869 4.713C11.9233 4.84938 11.9999 5.03435 11.9999 5.22722C12.0016 5.31638 11.985 5.40494 11.9513 5.48748C11.9175 5.57001 11.8672 5.64478 11.8035 5.70719L8.97452 8.49971L11.8035 11.3286C11.9234 11.4459 11.9937 11.6046 11.9999 11.7722C11.9999 11.9651 11.9233 12.15 11.7869 12.2864C11.6505 12.4228 11.4655 12.4994 11.2726 12.4994C11.1799 12.5033 11.0875 12.4878 11.0011 12.454C10.9147 12.4202 10.8363 12.3688 10.7708 12.3031L8 9.496L5.20008 12.2958C5.13863 12.3593 5.06522 12.4099 4.98409 12.4449C4.90296 12.4798 4.8157 12.4984 4.72737 12.4994C4.53449 12.4994 4.34951 12.4228 4.21313 12.2864C4.07674 12.15 4.00012 11.9651 4.00012 11.7722C3.99842 11.683 4.01497 11.5945 4.04873 11.5119C4.0825 11.4294 4.13277 11.3546 4.19648 11.2922L7.02548 8.49971L4.19648 5.67082C4.07661 5.55357 4.00633 5.39478 4.00012 5.22722C4.00012 5.03435 4.07674 4.84938 4.21313 4.713C4.34951 4.57662 4.53449 4.5 4.72737 4.5C4.90191 4.50218 5.06918 4.57272 5.19281 4.69635Z" fill="white" />
            </svg>
        </div>
        <div class="modal-body" id="edit-step-content">
        </div>
        <div class="modal-footer">
            <button type="submit" form="editStepForm" class="btn-full">
                Сохранить
            </button>
        </div>
    </div>
</div>
<div class="modal-wrapper" id="modal-additional-settings">
    <div class="modal">
        <div class="modal-header">
            <p>Дополнительные свойства</p>
            <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg" onclick="CloseModal('modal-additional-settings')">
                <path d="M5.19281 4.69635L8 7.50342L10.7926 4.71089C10.8543 4.64524 10.9286 4.59272 11.0111 4.55648C11.0936 4.52024 11.1825 4.50103 11.2726 4.5C11.4655 4.5 11.6505 4.57662 11.7869 4.713C11.9233 4.84938 11.9999 5.03435 11.9999 5.22722C12.0016 5.31638 11.985 5.40494 11.9513 5.48748C11.9175 5.57001 11.8672 5.64478 11.8035 5.70719L8.97452 8.49971L11.8035 11.3286C11.9234 11.4459 11.9937 11.6046 11.9999 11.7722C11.9999 11.9651 11.9233 12.15 11.7869 12.2864C11.6505 12.4228 11.4655 12.4994 11.2726 12.4994C11.1799 12.5033 11.0875 12.4878 11.0011 12.454C10.9147 12.4202 10.8363 12.3688 10.7708 12.3031L8 9.496L5.20008 12.2958C5.13863 12.3593 5.06522 12.4099 4.98409 12.4449C4.90296 12.4798 4.8157 12.4984 4.72737 12.4994C4.53449 12.4994 4.34951 12.4228 4.21313 12.2864C4.07674 12.15 4.00012 11.9651 4.00012 11.7722C3.99842 11.683 4.01497 11.5945 4.04873 11.5119C4.0825 11.4294 4.13277 11.3546 4.19648 11.2922L7.02548 8.49971L4.19648 5.67082C4.07661 5.55357 4.00633 5.39478 4.00012 5.22722C4.00012 5.03435 4.07674 4.84938 4.21313 4.713C4.34951 4.57662 4.53449 4.5 4.72737 4.5C4.90191 4.50218 5.06918 4.57272 5.19281 4.69635Z" fill="white" />
            </svg>
        </div>
        <div class="modal-body" id="operation-info-content">
        </div>
        <div class="modal-footer">
            <div class="btn-full" onclick="StepOperationEdit()">
                Редактировать
            </div>
        </div>

    </div>
</div>
<div class="modal-wrapper" id="modal-edit-task">
    <div class="modal">
        <div class="modal-header">
            <p>Редакирование задачи</p>
            <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg" onclick="CloseModal('modal-edit-task')">
                <path d="M5.19281 4.69635L8 7.50342L10.7926 4.71089C10.8543 4.64524 10.9286 4.59272 11.0111 4.55648C11.0936 4.52024 11.1825 4.50103 11.2726 4.5C11.4655 4.5 11.6505 4.57662 11.7869 4.713C11.9233 4.84938 11.9999 5.03435 11.9999 5.22722C12.0016 5.31638 11.985 5.40494 11.9513 5.48748C11.9175 5.57001 11.8672 5.64478 11.8035 5.70719L8.97452 8.49971L11.8035 11.3286C11.9234 11.4459 11.9937 11.6046 11.9999 11.7722C11.9999 11.9651 11.9233 12.15 11.7869 12.2864C11.6505 12.4228 11.4655 12.4994 11.2726 12.4994C11.1799 12.5033 11.0875 12.4878 11.0011 12.454C10.9147 12.4202 10.8363 12.3688 10.7708 12.3031L8 9.496L5.20008 12.2958C5.13863 12.3593 5.06522 12.4099 4.98409 12.4449C4.90296 12.4798 4.8157 12.4984 4.72737 12.4994C4.53449 12.4994 4.34951 12.4228 4.21313 12.2864C4.07674 12.15 4.00012 11.9651 4.00012 11.7722C3.99842 11.683 4.01497 11.5945 4.04873 11.5119C4.0825 11.4294 4.13277 11.3546 4.19648 11.2922L7.02548 8.49971L4.19648 5.67082C4.07661 5.55357 4.00633 5.39478 4.00012 5.22722C4.00012 5.03435 4.07674 4.84938 4.21313 4.713C4.34951 4.57662 4.53449 4.5 4.72737 4.5C4.90191 4.50218 5.06918 4.57272 5.19281 4.69635Z" fill="white" />
            </svg>
        </div>
        <div class="modal-body" id="edit-task-content">
        </div>
        <div class="modal-footer">
            <button type="submit" form="editTaskForm" class="btn-full">
                Сохранить
            </button>
        </div>
    </div>
</div>
<div class="modal-wrapper" id="modal-edit-additional-settings">
    <div class="modal">
        <div class="modal-header">
            <p>Редактирование доп. свойств</p>
            <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg" onclick="CloseModal('modal-edit-additional-settings')">
                <path d="M5.19281 4.69635L8 7.50342L10.7926 4.71089C10.8543 4.64524 10.9286 4.59272 11.0111 4.55648C11.0936 4.52024 11.1825 4.50103 11.2726 4.5C11.4655 4.5 11.6505 4.57662 11.7869 4.713C11.9233 4.84938 11.9999 5.03435 11.9999 5.22722C12.0016 5.31638 11.985 5.40494 11.9513 5.48748C11.9175 5.57001 11.8672 5.64478 11.8035 5.70719L8.97452 8.49971L11.8035 11.3286C11.9234 11.4459 11.9937 11.6046 11.9999 11.7722C11.9999 11.9651 11.9233 12.15 11.7869 12.2864C11.6505 12.4228 11.4655 12.4994 11.2726 12.4994C11.1799 12.5033 11.0875 12.4878 11.0011 12.454C10.9147 12.4202 10.8363 12.3688 10.7708 12.3031L8 9.496L5.20008 12.2958C5.13863 12.3593 5.06522 12.4099 4.98409 12.4449C4.90296 12.4798 4.8157 12.4984 4.72737 12.4994C4.53449 12.4994 4.34951 12.4228 4.21313 12.2864C4.07674 12.15 4.00012 11.9651 4.00012 11.7722C3.99842 11.683 4.01497 11.5945 4.04873 11.5119C4.0825 11.4294 4.13277 11.3546 4.19648 11.2922L7.02548 8.49971L4.19648 5.67082C4.07661 5.55357 4.00633 5.39478 4.00012 5.22722C4.00012 5.03435 4.07674 4.84938 4.21313 4.713C4.34951 4.57662 4.53449 4.5 4.72737 4.5C4.90191 4.50218 5.06918 4.57272 5.19281 4.69635Z" fill="white" />
            </svg>
        </div>
        <div id="operation-edit-content">
        </div>


    </div>
</div>



<script>
    window.addEventListener('load', () => {
        ShowStepList();
    });


    function OnOffStep(stepNumber) {
        document.cookie = "selectedStepNumber=" + stepNumber + "; path=/";
        // Объявить переменные
        var table, tr, td, i, txtValue;

        table = document.getElementById("tableSteps");
        tr = table.getElementsByTagName("tr");

        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                txtValue = td.innerText;
                if (txtValue == stepNumber) {
                    var qwe = tr[i].getElementsByTagName("td")[2];
                    var chl1 = qwe.firstElementChild.firstElementChild.firstElementChild.checked;
                    isActivatedTask = chl1;
                }
            }
        }
        if (chl1 == true) {
            document.getElementById('titleInfoStep').innerText = "Включить";
        } else {
            document.getElementById('titleInfoStep').innerText = "Выключить";
        }
        document.getElementById('numberStepInfo').innerText = stepNumber;

    }


    function OkOnOffStep() {
        var stepNumber = document.getElementById('numberStepInfo').innerText
        var cookieTaskId = getCookie("selectedTask");
        $.ajax({
            type: 'POST',
            url: '@Url.Action("ActivatedStep", "Step")',
            data: { "taskId": cookieTaskId,
                    "stepNumber": stepNumber },
            dataType: 'html',
            success: function (result) {
                ShowStepList();
            }
        });

    }
    function CancelOnOffStep() {
        var table, tr, td, i, txtValue;

        table = document.getElementById("tableSteps");
        tr = table.getElementsByTagName("tr");

        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                txtValue = td.innerText;
                if (txtValue == document.getElementById('numberStepInfo').innerText) {
                    var qwe = tr[i].getElementsByTagName("td")[2];
                    qwe.firstElementChild.firstElementChild.firstElementChild.checked = !isActivatedTask;

                }
            }
        }

    }

    function TaskLog() {
        var cookieTaskId = getCookie("selectedTask");
        location.href = "@Url.Action("TaskLog", "Task", new { taskId = "cid" })".replace("cid", cookieTaskId);

    }



</script>