<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="https://www.nlog-project.org/schemas/NLog.xsd" 
	  xmlns:xsi="https://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="https://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
	  internalLogLevel="Off">

	<extensions>
		<add assembly="NLog.Database"/>
	</extensions>

	<targets>
		<target name="db" xsi:type="Database"
				dbProvider="Npgsql.NpgsqlConnection, Npgsql"
				connectionString="${configsetting:item=ConnectionStrings.DefaultConnection}">
			
			<commandText>
				INSERT INTO public.Logs (loggedon, level, message, logger, exception)
				VALUES (CAST(@loggedon AS timestamp), @level, @message, @logger, @exception);
			</commandText>
			
			<parameter name="@loggedon" layout="${longdate}" dbType="Timestamp"/>
			<parameter name="@level" layout="${level}"/>
			<parameter name="@message" layout="${message}"/>
			<parameter name="@logger" layout="${logger}"/>
			<parameter name="@exception" layout="${exception}"/>
		</target>
	</targets>

	<rules>
		<logger name="Microsoft.EntityFrameworkCore.Database.Command" maxlevel="Info" final="true" />

		<logger name="Microsoft.EntityFrameworkCore.*" minlevel="Warn" final="true" />

		<logger name="*" minlevel="Info" writeTo="db" />
	</rules>
</nlog>
