@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model OperationClrbufEntity
@{
    SelectList addresseeGroups = new SelectList(ViewBag.AddresseeGroups, "Id", "Name");
}
<div class="modal-body">
    <form method="post" asp-action="EditOperationClrbuf" asp-controller="Operation"
          class="modal-body-content" id="operation-edit-form-clrbuf">
          <input asp-for="OperationId" hidden>
          <input asp-for="StepId" hidden>
        <div class="input-checkbox">
            <label class="toggle-checkbox">
                <input type="checkbox" asp-for="InformSuccess" checked="@Model.InformSuccess" onclick="ShowAddressGroup()" id="inform-success">
                <span class="toggle-checkbox-switch"></span>
            </label>
            <p>Информировать об успехе</p>
        </div>
        <div class="input-with-label" id="inform-addr-group">
            <label asp-for="AddresseeGroupId"></label>
            <div class="select-wrapper">
                <select asp-for="AddresseeGroupId" asp-items=@addresseeGroups></select>
            </div>
        </div>
        <div class="input-with-label">
            <label asp-for="AdditionalText"></label>
            <input asp-for="AdditionalText">
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="submit" form="operation-edit-form-clrbuf" class="btn-full">
        Сохранить
    </button>
</div>
