<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="https://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="https://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="https://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
       autoReload="true"
       throwExceptions="true">

	<extensions>
		<add assembly="NLog.Database"/>
	</extensions>

	<targets>

		<target name="db" xsi:type="Database"
				dbProvider="Npgsql.NpgsqlConnection, Npgsql">
			<connectionString>server=10.200.238.17;Port=5432;Database=FileManager;Username=postgres;Password=postgres</connectionString>
			<commandText>
				INSERT INTO public.Logs (Loggedon, Level, Message, Logger, Exception)
				VALUES (CAST(@loggedon AS timestamp), @level, @message, @logger, @exception);
			</commandText>
			<parameter name="@loggedon" layout="${longdate}" dbType="Timestamp"/>
			<parameter name="@level" layout="${level}"/>
			<parameter name="@message" layout="${message}"/>
			<parameter name="@logger" layout="${logger}"/>
			<parameter name="@exception" layout="${exception}"/>
		</target>
	</targets>

	<rules>
		<logger name="Microsoft.EntityFrameworkCore.*" minlevel="Warn" finalMinLevel="Warn" />
		
		<logger name="*" minlevel="Info" writeTo="db" />
	</rules>
</nlog>
