@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using FileManager.Domain.Enum
@model FileManager.Domain.Entity.TaskEntity
@{
	//ViewData["Title"] = "Создание задачи";
	SelectList addresseeGroups = new SelectList(ViewBag.AddresseeGroups, "Id", "Name");
	SelectList taskGroups = new SelectList(ViewBag.TaskGroups, "Id", "Name");

}
<form id="createTaskForm" class="modal-body-content" method="post" asp-action="CreateTask" asp-controller="Task">
	<div class="input-with-label">
		<label asp-for="TaskId"></label>
		<input asp-for="TaskId"/>
	</div>
	<div class="input-with-label">
		<label asp-for="Name"></label>
		<input asp-for="Name">
	</div>
	<div class="input-with-label">
		<label asp-for="TimeBegin"></label>
		<input asp-for="TimeBegin" type="time" value="00:00">
	</div>
	<div class="input-with-label">
		<label asp-for="TimeEnd"></label>
		<input asp-for="TimeEnd" type="time" value="00:00">
	</div>
	<div class="input-with-label">
		<label asp-for="DayActive"></label>
		<div class="select-wrapper">
			<select asp-for="DayActive" asp-items="Html.GetEnumSelectList<DayActive>()"></select>
		</div>
	</div>
	<div class="input-with-label">
		<label asp-for="AddresseeGroupId"></label>
		<div class="select-wrapper">
			<select asp-for="AddresseeGroupId" asp-items=@addresseeGroups></select>
		</div>
	</div>
	<div class="input-with-label">
		<label asp-for="TaskGroupId"></label>
		<div class="select-wrapper">
			<select asp-for="TaskGroupId" asp-items=@taskGroups></select>
		</div>
	</div>
</form>