@using FileManager.Domain.Entity
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model OperationCopyEntity
@{
}
<form method="post" class="modal-body-content" id="operation-edit-form">
    <div class="input-checkbox">
        <label class="toggle-checkbox">
            <input type="checkbox" asp-for="InformSuccess" checked="@Model.InformSuccess" >
            <span class="toggle-checkbox-switch"></span>
        </label>
        <p>Информировать об успехе</p>
    </div>
    <div class="input-with-label">
        <label>Группа рассылки</label>
        <div class="select-wrapper">
            <select>
                <option>Первая группа</option>
                <option>Рассылка ошибок</option>
                <option>Новая группа рассылки</option>
            </select>
        </div>
    </div>
    <div class="input-with-label">
        <label>Дополнительный текст</label>
        <input>
    </div>
    <div class="input-with-label">
        <label>Файл есть в назначении</label>
        <div class="select-wrapper">
            <select>
                <option>Без перезаписи</option>
                <option>Перезапись</option>
                <option>Переименовать</option>
            </select>
        </div>
    </div>
    <div class="input-checkbox">
        <label class="toggle-checkbox">
            <input type="checkbox" checked>
            <span class="toggle-checkbox-switch"></span>
        </label>
        <p>Дубль по журналу</p>
    </div>
    <div class="input-with-label">
        <label>Сортировка</label>
        <div class="select-wrapper">
            <select>
                <option>Не сортировать</option>
                <option>По имени</option>
                <option>По имени по убыванию</option>
                <option>По времени</option>
                <option>По времени по убыванию</option>
                <option>По размеру</option>
                <option>По размеру по убыванию</option>
            </select>
        </div>
    </div>
    <div class="input-with-label">
        <label>Кол-во файлов</label>
        <input value="0">
    </div>
    <div class="input-with-label">
        <label>Аттрибуты</label>
        <div class="select-wrapper">
            <select>
                <option>Видимый, кроме 'Н'</option>
                <option>Скрытый</option>
                <option>Архивный</option>
                <option>Для чтения</option>
                <option>Все</option>
            </select>
        </div>
    </div>
</form>