@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Транспорт: 404";
}
<div class="main-content error404">
    <div class="error404-container">
        <svg width="348" height="170" viewBox="0 0 348 170" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g filter="url(#filter0_d_81_7557)">
                <path d="M10 130.5V100.125L68.1565 9.00002H95.8231V49.5H80.0136L48.6769 99V100.125H134.5V130.5H10ZM80.2959 153V121.219L81.1429 108V9.00002H117.844V153H80.2959Z" fill="white" />
                <path d="M173.875 156C160.836 155.953 149.572 152.928 140.085 146.924C130.597 140.92 123.283 132.266 118.142 120.962C113.001 109.659 110.454 96.1032 110.501 80.2964C110.547 64.4428 113.118 50.9812 118.212 39.9118C123.353 28.8424 130.644 20.4231 140.085 14.6538C149.572 8.88462 160.836 6 173.875 6C186.914 6 198.178 8.90807 207.665 14.7242C217.153 20.4934 224.467 28.9128 229.608 39.9822C234.749 51.0516 237.296 64.4897 237.249 80.2964C237.249 96.197 234.679 109.799 229.538 121.103C224.397 132.407 217.083 141.061 207.595 147.065C198.155 153.022 186.914 156 173.875 156ZM173.875 124.199C180.605 124.199 186.12 120.681 190.42 113.645C194.766 106.563 196.916 95.4465 196.869 80.2964C196.869 70.3996 195.888 62.3086 193.925 56.0235C191.962 49.7383 189.251 45.0947 185.793 42.0929C182.334 39.0441 178.362 37.5197 173.875 37.5197C167.145 37.5197 161.654 40.9437 157.401 47.7917C153.148 54.6398 150.974 65.4747 150.881 80.2964C150.834 90.3809 151.792 98.6829 153.755 105.203C155.718 111.675 158.429 116.46 161.887 119.555C165.392 122.651 169.388 124.199 173.875 124.199Z" fill="white" />
                <path d="M213.25 130.5V100.125L271.406 9.00002H299.073V49.5H283.264L251.927 99V100.125H337.75V130.5H213.25ZM283.546 153V121.219L284.393 108V9.00002H321.094V153H283.546Z" fill="white" />
                <path d="M173.875 3C187.367 3 199.19 6.01311 209.224 12.1611L210.159 12.7422C219.748 18.8283 227.132 27.5275 232.329 38.7188L232.824 39.8096C235.018 44.7522 236.716 50.1097 237.933 55.873L268.878 7.38574L269.762 6H324.094V97.125H340.75V133.5H324.094V156H280.546V133.5H225.951C221.379 140.044 215.798 145.424 209.199 149.6L209.196 149.602C199.2 155.909 187.384 159 173.875 159H173.864C160.776 158.953 149.259 156.004 139.427 150.045L138.48 149.459C131.929 145.313 126.381 139.981 121.827 133.5H120.844V156H77.2959V133.5H7V99.249L7.4707 98.5107L65.6279 7.38574L66.5117 6H120.844V29.1221C125.585 22.093 131.473 16.4003 138.521 12.0938L138.526 12.0908L139.472 11.5273C149.3 5.80492 160.804 3.00001 173.875 3ZM173.875 40.5195C168.572 40.5195 164.07 43.0397 160.311 48.8066L159.949 49.374C156.143 55.5026 153.973 65.6509 153.881 80.3154C153.835 90.2255 154.781 98.2006 156.626 104.332L156.984 105.467C158.807 111.016 161.158 114.87 163.873 117.307L164.436 117.784C167.269 120.093 170.385 121.199 173.875 121.199C179.313 121.199 183.962 118.458 187.859 112.081L187.862 112.076L188.224 111.469C191.897 105.063 193.914 94.8237 193.869 80.3057V80.2969L193.858 78.4951C193.749 69.9004 192.849 62.9187 191.231 57.4756L191.062 56.918C189.196 50.944 186.719 46.869 183.826 44.3584L183.817 44.3506L183.809 44.3438C180.881 41.7634 177.609 40.5195 173.875 40.5195ZM256.665 97.125H281.393V58.0645L256.665 97.125ZM53.415 97.125H78.1426V58.0645L53.415 97.125Z" stroke="#006040" stroke-width="6" />
            </g>
            <defs>
                <filter id="filter0_d_81_7557" x="0" y="0" width="347.75" height="170" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                    <feOffset dy="4" />
                    <feGaussianBlur stdDeviation="2" />
                    <feComposite in2="hardAlpha" operator="out" />
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_81_7557" />
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_81_7557" result="shape" />
                </filter>
            </defs>
        </svg>
        <div class="error-text-container">
            <div class="error-title">Нам очень жаль, что-то пошло не так...</div>
            <div class="error-text">Страница, которую вы запрашиваете, не&nbsp;существует. Возможно она устарела, была удалена, или был введен неверный адрес в адресной строке</div>
        </div>
    </div>
</div>